<br><br><br>
<br><br><br>


<div class="container">'
    <div class="row">
        <div class="col-lg-6 sm-col-12">
            <h1 style="font-size: xx-large; margin-top: 15%;" align='center'>Forgot Your Password ☹❗</h1>
        </div>
        <div class="col-lg-6">
            <form class="mt-4" method="POST">
                <div class="form-group">
                    <label for="pxp-signin-pass">New Password *</label>
                    <input type="password" class="form-control" [(ngModel)]="resetData.password" id="pxp-signin-pass"
                        name="password" value="" placeholder="Enter Your New Password, but Don't Forget it Next Time😇">
                </div>
                <div class="form-group">
                    <button (click)="reset()" class="pxp-agent-contact-modal-btn">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>