<div class="pxp-footer pt-100 pb-100 mt-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-1">
            <img src="assets\images\dlog.png" alt="" height="120px" style="padding-top: 0%;">
        </div>
          <div class="col-sm-12 col-lg-4">
            <div class="pxp-footer-logo">đất liền</div>

            <div class="pxp-footer-address mt-2">
                  90 Fifth Avenue, 3rd Floor<br>
                  Kolkota, CA 1980<br>
                  (123) 456-7890
              </div>
              <div class="pxp-footer-social mt-2">
                  <a routerLink=''><span class="fa fa-linkedin"></span></a>
                  <a routerLink=''><span class="fa fa-facebook-square"></span></a>
                  <a routerLink=''><span class="fa fa-telegram"></span></a>
              </div>
          </div>
          <div class="col-sm-12 col-lg-6">
              <div class="row">
                  <div class="col-sm-12 col-md-4">
                      <h4 class="pxp-footer-header mt-4 mt-lg-0">Company</h4>
                      <ul class="list-unstyled pxp-footer-links mt-2">
                          <li><a onclick="topFunction()" routerLink=''>About Us</a></li>
                          <li><a onclick="topFunction()" routerLink='/agents'>Agents</a></li>
                          <li><a onclick="topFunction()" routerLink='/property'>Properties</a></li>
                          <li><a onclick="topFunction()" routerLink='/contact'>Contact Us</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <h4 class="pxp-footer-header mt-4 mt-lg-0">Actions</h4>
                      <ul class="list-unstyled pxp-footer-links mt-2">
                          <li><a onclick="topFunction()" routerLink='/property'>Buy Properties</a></li>
                          <li><a onclick="topFunction()" routerLink='/property'>Rent Properties</a></li>
                          <li><a onclick="topFunction()" routerLink='/property'>Sell Properties</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <h4 class="pxp-footer-header mt-4 mt-lg-0">Explore</h4>
                      <ul class="list-unstyled pxp-footer-links mt-2">
                          <li><a onclick="topFunction()" routerLink='/home'>Homes for Rent</a></li>
                          <li><a onclick="topFunction()" routerLink='/appartments'>Apartments for Rent</a></li>
                          <li><a onclick="topFunction()" routerLink='/home'>Homes for Sale</a></li>
                          <li><a onclick="topFunction()" routerLink='/appartments'>Apartments for Sale</a></li>
                          <li><a onclick="topFunction()" routerLink='/villas'>Villas</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="pxp-footer-bottom mt-2">
          <div><a onclick="topFunction()" routerLink=''>Terms & Conditions</a> and <a onclick="topFunction()" routerLink=''>Privacy Policy</a></div>
          <div class="pxp-footer-copyright">&copy; đất liền  All Rights Reserved. 2020</div>
          <div class="text-center"> <a href="https://t.me/rithiksarab">Made With ❣️ @rithiksarab 🙃</a> </div>
      </div>
    </div>
    </div>