<div class="pxp-content">
    <div class="pxp-agents pxp-content-wrapper mt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <h1 class="pxp-page-header"><b> Our Agents </b> </h1>
                    <p class="pxp-text-light">Pairing the industry's top technology with unsurpassed local expertise.</p> <br><br><br><br> 
                </div>
            </div>
        </div>

        <div class="pxp-agents-hero mt-4 mt-md-5">

            <div class="pxp-agents-hero-search-container">
                <div class="container">
                    <div class="pxp-agents-hero-search">
                        <h2 class="pxp-section-h2 text-white">Find an Agent</h2>
                        <div class="pxp-agents-hero-search-form mt-3 mt-md-4">
                            <div class="row">
                                <!-- <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <label for="pxp-agents-search-location">Location</label>
                                        <input type="text" class="form-control" id="pxp-agents-search-location" placeholder="Neighborhood/City/Zip">
                                    </div>
                                </div> -->
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="pxp-agents-search-name">Name</label>
                                        <input type="text" class="form-control" id="pxp-agents-search-name" placeholder="Agent name">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="pxp-agents-search-service">Service Needed</label>
                                        <select class="custom-select" id="pxp-agents-search-service">
                                            <option value="1" selected="selected">Buying or selling</option>
                                            <option value="2">Buying a home</option>
                                            <option value="3">Selling a home</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-200">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-1.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Scott Goodwin</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (123) 456-7890</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-2.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Alayna Becker</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (456) 123-7890</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-3.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Melvin Blackwell</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (789) 123-4560</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-4.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Erika Tillman</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (890) 456-1237</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-3.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Melvin Blackwell</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (789) 123-4560</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-4.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Erika Tillman</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (890) 456-1237</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-1.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Scott Goodwin</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (123) 456-7890</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a  class="pxp-agents-1-item">
                        <div class="pxp-agents-1-item-fig-container rounded-lg">
                            <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/agent-2.jpg); background-position: top center"></div>
                        </div>
                        <div class="pxp-agents-1-item-details rounded-lg">
                            <div class="pxp-agents-1-item-details-name">Alayna Becker</div>
                            <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (456) 123-7890</div>
                            <div class="pxp-agents-1-item-details-spacer"></div>
                            <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
                        </div>
                        <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span></div>
                    </a>
                </div>
            </div>

            
        </div>
    </div>
</div>