<h3 class="modal-title text-right" (click)="close()" id="pxpSignupModal"> <strong>Close</strong> </h3>
            <div class="modal-body">
                <h2 class="modal-title" id="pxpContactAgentModal"><b>Contact Author</b></h2>
                <form class="mt-4">
                    <div class="row">
                        <div class="col-6">
                    <div class="form-group">
                        <label for="pxp-contact-agent-name">Name *</label>
                        <input [(ngModel)]='contactAgentForm.name' readonly type="text" name="name" class="form-control" id="pxp-contact-agent-name">
                    </div>
                </div>
                    <div class="col-6">
                    <div class="form-group">
                        <label for="pxp-contact-agent-phone">Phone</label>
                        <input type="text" [(ngModel)]='contactAgentForm.phone' name="phone" class="form-control" id="pxp-contact-agent-phone" placeholder="In International Format">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="pxp-contact-agent-email">Email *</label>
                        <input [(ngModel)]='contactAgentForm.email' type="text" disabled name="email" class="form-control" id="pxp-contact-agent-email">
                    </div>
                </div>
                    <div class="col-12">
                    <div class="form-group">
                        <label for="pxp-contact-agent-message">Message *</label>
                        <textarea class="form-control" [(ngModel)]='contactAgentForm.message' name="message" id="pxp-contact-agent-message" rows="4" placeholder="I would like more information about ...."></textarea>
                    </div>
                </div>
                    <div class="col-12">
                    <div class=" form-group mt-4">
                        <button (click)='contactAgentform()' class="pxp-agent-contact-modal-btn">Send Message</button>
                    </div>
                    </div>
                </div>
                </form>
            </div>
        