
<h3 class="modal-title text-right" (click)="close()" id="pxpSignupModal"> <strong>Close</strong> </h3>
<div class="modal-body"> 
    <h1 class="modal-title" id="pxpSigninModal"><strong><b>Forgot Password</b></strong></h1>
    <form class="mt-4">
        <div class="form-group">
            <label for="pxp-signin-email">Email *</label>
            <input type="text" class="form-control" [(ngModel)]="forgetData.email" id="pxp-signin-email" name="email" value="" placeholder="Enter your email address">
        </div>
        <div class="form-group">
            <button (click)="forgetUser()" class="pxp-agent-contact-modal-btn">Submit an Request</button>
        </div>
        <div class="text-center pxp-modal-small">
            New to đất liền? <a (click)="regi()" class="pxp-modal-link pxp-signup-trigger">Create an account</a>
        </div>
    </form>
</div>
