
<div class="container-fluid pxp-props-carousel-right mt-100">
  <br><br>
    <h1 class="pxp-page-header"><b>Featured Properties</b></h1>  
    <app-coursel></app-coursel>
</div>



  <div class="container">
      <div class="pxp-services-container rounded-lg mt-4 mt-md-5">
          <a onclick="topFunction()" routerLink='/property' class="pxp-services-item">
              <div class="pxp-services-item-fig">
                  <img src="assets/images/service-icon-1-white.svg" alt="...">
              </div>
              <div class="pxp-services-item-text text-center">
                  <div class="pxp-services-item-text-title">Find your future home</div>
                  <div class="pxp-services-item-text-sub">We help you find a new home by offering<br>a smart real estate experience</div>
              </div>
              <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
          </a>
          <a onclick="topFunction()" routerLink='/agents' class="pxp-services-item">
              <div class="pxp-services-item-fig">
                  <img src="assets/images/service-icon-2-white.svg" alt="...">
              </div>
              <div class="pxp-services-item-text text-center">
                  <div class="pxp-services-item-text-title">Experienced agents</div>
                  <div class="pxp-services-item-text-sub">Find an agent who knows<br>your market best</div>
              </div>
              <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
          </a>
          <a onclick="topFunction()" routerLink='/submit-property' class="pxp-services-item">
              <div class="pxp-services-item-fig">
                  <img src="assets/images/service-icon-3-white.svg" alt="...">
              </div>
              <div class="pxp-services-item-text text-center">
                  <div class="pxp-services-item-text-title">Buy or rent homes</div>
                  <div class="pxp-services-item-text-sub">Millions of houses and apartments<br>in your favourite cities</div>
              </div>
              <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
          </a>
          <a onclick="topFunction()" routerLink='/property' class="pxp-services-item">
              <div class="pxp-services-item-fig">
                  <img src="assets/images/service-icon-4-white.svg" alt="...">
              </div>
              <div class="pxp-services-item-text text-center">
                  <div class="pxp-services-item-text-title">List your own property</div>
                  <div class="pxp-services-item-text-sub">Sign up now and sell or rent<br>your own properties</div>
              </div>
              <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
          </a>
          <div class="clearfix"></div>
      </div>
  </div>


<div class="container mt-100">
  <h1 class="pxp-section-h2"><b>Explore Our Categories </b></h1>
  <p class="pxp-text-light"><b>Browse our comprehensive listings</b></p>

  <div class="row mt-4 mt-md-5">
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a onclick="topFunction()" routerLink="/villas" class="pxp-areas-1-item rounded-lg">
              <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(assets/images/area-6-dark.jpg);"></div>
              <div class="pxp-areas-1-item-details">
                  <div class="pxp-areas-1-item-details-area">Villas</div>
                  <div class="pxp-areas-1-item-details-city">Vacation mode on.</div>
              </div>
              <div class="pxp-areas-1-item-counter"><span> {{villen}} Properties</span></div>
              <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a onclick="topFunction()" routerLink="/duplex" class="pxp-areas-1-item rounded-lg">
              <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(assets/images/area-2-dark.jpg);"></div>
              <div class="pxp-areas-1-item-details">
                  <div class="pxp-areas-1-item-details-area">Duplex</div>
                  <div class="pxp-areas-1-item-details-city">Discover the true definition of luxury.</div>
              </div>
              <div class="pxp-areas-1-item-counter"><span> {{duplen}} Properties</span></div>
              <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a onclick="topFunction()" routerLink="/coms" class="pxp-areas-1-item rounded-lg">
              <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(assets/images/area-3-dark.jpg);"></div>
              <div class="pxp-areas-1-item-details">
                  <div class="pxp-areas-1-item-details-area">Commercial</div>
                  <div class="pxp-areas-1-item-details-city">The ideal space to balance life and work.</div>
              </div>
              <div class="pxp-areas-1-item-counter"><span> {{comlen}} Properties</span></div>
              <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a onclick="topFunction()" routerLink="/resi" class="pxp-areas-1-item rounded-lg">
              <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(assets/images/area-1-dark.jpg);"></div>
              <div class="pxp-areas-1-item-details">
                  <div class="pxp-areas-1-item-details-area">Residential</div>
                  <div class="pxp-areas-1-item-details-city">Live Like You Want.</div>
              </div>
              <div class="pxp-areas-1-item-counter"><span> {{reslen}} Properties</span></div>
              <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a onclick="topFunction()" routerLink="/appartments" class="pxp-areas-1-item rounded-lg">
              <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(assets/images/area-4-dark.jpg);"></div>
              <div class="pxp-areas-1-item-details">
                  <div class="pxp-areas-1-item-details-area">Appartments</div>
                  <div class="pxp-areas-1-item-details-city">A Higher Quality of Living.</div>
              </div>
              <div class="pxp-areas-1-item-counter"><span> {{applen}} Properties</span></div>
              <br>
              <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a onclick="topFunction()" routerLink="/b-houses" class="pxp-areas-1-item rounded-lg">
              <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(assets/images/5.jpg);"></div>
              <div class="pxp-areas-1-item-details">
                  <div class="pxp-areas-1-item-details-area">Beach House</div>
                  <div class="pxp-areas-1-item-details-city">Stunning views. Superb atmosphere.</div>
              </div>
              <div class="pxp-areas-1-item-counter"><span> {{bhlen}} Properties</span></div>
              <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
          </a>
      </div>
  </div>

  <a onclick="topFunction()" routerLink="/property" class="pxp-primary-cta text-uppercase mt-2 mt-md-4 pxp-animate"><b>Explore Categories </b></a>
</div>

<div class="container mt-100">
  <h2 class="pxp-section-h2"><b>Our Featured Agents</b></h2>
  <p class="pxp-text-light"><b>Meet the best real estate agents</b></p>

  <div class="row mt-4 mt-md-5">
      <div class="col-sm-12 col-md-6 col-lg-3">
          <a onclick="topFunction()" routerLink="/s-agent" class="pxp-agents-1-item">
              <div class="pxp-agents-1-item-fig-container rounded-lg">
                  <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/peps/jenny.jpg); background-position: top center"></div>
              </div>
              <div class="pxp-agents-1-item-details rounded-lg">
                  <div class="pxp-agents-1-item-details-name">Scott Goodwin</div>
                  <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (123) 456-7890</div>
                  <div class="pxp-agents-1-item-details-spacer"></div>
                  <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
              </div>
              <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
          <a onclick="topFunction()" routerLink="/s-agent" class="pxp-agents-1-item">
              <div class="pxp-agents-1-item-fig-container rounded-lg">
                  <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/peps/kristy.png); background-position: top center"></div>
              </div>
              <div class="pxp-agents-1-item-details rounded-lg">
                  <div class="pxp-agents-1-item-details-name">Alayna Becker</div>
                  <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (456) 123-7890</div>
                  <div class="pxp-agents-1-item-details-spacer"></div>
                  <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
              </div>
              <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span></div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
          <a onclick="topFunction()" routerLink="/s-agent" class="pxp-agents-1-item">
              <div class="pxp-agents-1-item-fig-container rounded-lg">
                  <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/peps/elliot.jpg); background-position: top center"></div>
              </div>
              <div class="pxp-agents-1-item-details rounded-lg">
                  <div class="pxp-agents-1-item-details-name">Melvin Blackwell</div>
                  <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (789) 123-4560</div>
                  <div class="pxp-agents-1-item-details-spacer"></div>
                  <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
              </div>
              <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
          <a onclick="topFunction()" routerLink="/s-agent" class="pxp-agents-1-item">
              <div class="pxp-agents-1-item-fig-container rounded-lg">
                  <div class="pxp-agents-1-item-fig pxp-cover" style="background-image: url(assets/images/peps/helen.jpg); background-position: top center"></div>
              </div>
              <div class="pxp-agents-1-item-details rounded-lg">
                  <div class="pxp-agents-1-item-details-name">Erika Tillman</div>
                  <div class="pxp-agents-1-item-details-email"><span class="fa fa-phone"></span> (890) 456-1237</div>
                  <div class="pxp-agents-1-item-details-spacer"></div>
                  <div class="pxp-agents-1-item-cta text-uppercase">More Details</div>
              </div>
              <div class="pxp-agents-1-item-rating"><span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></span></div>
          </a>
      </div>
  </div>

  <a onclick="topFunction()" routerLink="/agents" class="pxp-primary-cta text-uppercase mt-1 mt-md-4 pxp-animate"><b>See All Agents</b></a>
</div>

<div class="container mt-100">
  <h1 class="text-center"><b>Membership Plans</b></h1>
  <p class="pxp-text-light text-center"><b>Choose the plan that suits you best</b></p>
  <div class="row mt-5">
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="pxp-plans-1-item">
              <div class="pxp-plans-1-item-fig">
                  <img src="assets/images/plan-personal.svg" alt="...">
              </div>
              <div class="pxp-plans-1-item-title">Personal</div>
              <ul class="pxp-plans-1-item-features list-unstyled">
                  <li>10 Listings</li>
                  <li>2 Featured Listings</li>
              </ul>
              <div class="pxp-plans-1-item-price">
                  <span class="pxp-plans-1-item-price-sum">Free</span>
                  <span class="pxp-plans-1-item-price-period"> / 1 month</span>
              </div>
              <div class="pxp-plans-1-item-cta text-uppercase">Choose Plan</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="pxp-plans-1-item pxp-is-popular">
              <div class="pxp-plans-1-item-label">Most Popular</div>
              <div class="pxp-plans-1-item-fig">
                  <img src="assets/images/plan-professional-white.svg" alt="...">
              </div>
              <div class="pxp-plans-1-item-title">Professional</div>
              <ul class="pxp-plans-1-item-features list-unstyled">
                  <li>10 Listings</li>
                  <li>2 Featured Listings</li>
              </ul>
              <div class="pxp-plans-1-item-price">
                  <span class="pxp-plans-1-item-price-currency">₹</span>
                  <span class="pxp-plans-1-item-price-sum">49.99</span>
                  <span class="pxp-plans-1-item-price-period"> / 6 months</span>
              </div>
              <div class="pxp-plans-1-item-cta text-uppercase">Choose Plan</div>
          </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="pxp-plans-1-item">
              <div class="pxp-plans-1-item-fig">
                  <img src="assets/images/plan-business.svg" alt="...">
              </div>
              <div class="pxp-plans-1-item-title">Business</div>
              <ul class="pxp-plans-1-item-features list-unstyled">
                  <li>10 Listings</li>
                  <li>2 Featured Listings</li>
              </ul>
              <div class="pxp-plans-1-item-price">
                  <span class="pxp-plans-1-item-price-currency">₹</span>
                  <span class="pxp-plans-1-item-price-sum">99.99</span>
                  <span class="pxp-plans-1-item-price-period"> / 1 year</span>
              </div>
              <div class="pxp-plans-1-item-cta text-uppercase">Choose Plan</div>
          </a>
      </div>
  </div>
</div>